{% extends "layout.html" %}
{% block content %}
  <div class="rightside d-flex justify-content-center align-items-center">
    <div>
                
      <form method="POST" action="/upload" enctype="multipart/form-data">
        <input id="tohide" type="file" name="inputFile" hidden="hidden" />
        <input class="btn btn-outline-dark btn-lg" type="button" value="Upload an Excel" 
                onclick="document.getElementById('tohide').click()" />
        <span id="small-tags" class="text-dark">File should have ".xlsx" extension.</span>
        <br><br>
        <input class="btn btn-outline-primary btn-lg" type="submit" value="Get XML" />

        <script type="text/javascript">
          const realFileBtn = document.getElementById("tohide");
          const customTxt = document.getElementById("small-tags");

          realFileBtn.addEventListener("change", function() {
            if (realFileBtn.value) {
              customTxt.innerHTML = realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
            } else {
              customTxt.innerHTML = "No file to upload.";
            }
          });
        </script>
      </form>
      
    </div>
  </div>
{% endblock content %}